html{
  z-index: -1;
  font-family: Helvetica;
  font-size: 18px;
  background-color: black;
}
body{
  margin: 0;
  color: white;
}
/*Logo and text*/
.top{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.logo-text{
  display: flex;
  align-items: center;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  font-size: 1rem;
}
.logo{
  padding-left: 0.5rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
}
/*Banner Section*/

.banner-section{
  background-image: url("../photos/moto.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-container{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  font-weight: bold;
  padding-top: 9rem;
}
#banner-text{
  border: 1px solid black;
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
}
#banner-text h1{
font-size: 2rem;

}
#banner-text h2{
font-size: 1rem;
padding-bottom: 0.25rem;
}
/*Navbar Section*/
.navbar{
background-color: firebrick;
padding-top: 0.75rem;
padding-bottom: 0.75rem;
}
nav a{
  color: white;
  text-decoration: none;
}
nav{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  display: flex;
  justify-content: space-between;
}
/* Product Section*/
.product-container{
  background-color: white;
}
.product-section{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.product-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.column{
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 30%;
}
.column span{
  border: 1px solid black;
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}
.column img{
  height: 9rem;
  padding: 2rem 2rem;
}
/*Info Section*/
.info-section{
display: flex;
flex-direction: row;
justify-content: space-around;
margin-left: auto;
margin-right: auto;
width: 960px;
background-color: white;
}
.info-container{
  background-color: white;
  padding-bottom: 4rem;
}
.info p{
  color: black;
}
.column.info{
  width: 35%;
}
/*Footer Section*/
.footer-container{
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  border: 1px solid black;
  height: 10rem;
  display: flex;
  align-items: center;
}
.footer-section{
text-align: left;
}
/*Tablet Section*/
@media only screen and (max-width: 1024px){
  #banner-text h1{
    font-family: Helvetica;
    font-size: 1.5rem;
    font-weight: bold;
  }
  #banner-text h2{
    font-family: Helvetica;
    font-size: 0.885rem;
    font-weight: bold;
  }
  #banner-text{
    padding: 1.5rem 2.5rem;
  }
  nav a{
    
  }
}

/*Mobile Section*/
@media only screen and (max-width: 470px){
  #banner-text h1{
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: bold;
  }
  #banner-text h2{
    font-family: Helvetica;
    font-size: 0.77rem;
    font-weight: bold;
  }
  #banner-text{
    padding: 1rem 2rem;
  }
}
